#chuyi-toolbar{
    background-color: beige;
    color: black;
    font-size: 1em;
    height: 200px;
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border: 2px solid thistle;
    margin-top: 200px;
    opacity: 1;
}

#chuyi-toobar #messageContent{
    height: 120px;
    width: 500px;
}

#chuyi-toolbar-overlay{
    justify-content: center;
    align-content: center;
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 1000;
    height: 100%; 
    width: 100%;
    background-color: bisque;
    opacity: .8;
}